
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="hero flex-center">
            <div class="hero-message">
            {% block content %}
                <h1 class="hero-title">Register</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="hero-sub-title">
                        {{ form.name(size=32,placeholder=form.name.label.text) }}
                    </p>
                    <p class="hero-sub-title">
                        {{ form.email(size=32, placeholder=form.email.label.text) }}
                    </p>
                    <p class="hero-sub-title">{{ form.submit() }}</p>
                </form>
            {% endblock %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message }}<br>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </div>
            <div class="credit">
              <p>Photo by Brad Knight on Unsplash</p>
            </div>
        </div>
    </body>
</html>
